<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Name:</strong>
    <%= portfolio.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= portfolio.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= portfolio.description %>
  </p>

  <p>
    <strong>Attachment:</strong>
    <%= portfolio.attachment %>
  </p>

  <p>
    <strong>Skillset:</strong>
    <%= portfolio.skillset %>
  </p>

  <p>
    <strong>Url info:</strong>
    <%= portfolio.url_info %>
  </p>

</div>
